/* reglas
selectores
declaraciones 
propiedades
valores */

/* header {
    background: pink;
    color: red;
} */

/* selector de etiqueta. HEADER -SECTION- ARTICLE- NAV */

/* selector descendente

/* body header div nav ol li a */

/* SELECTOR  DE CLASE
.link */

/* SELECTOR DE ID
#portafolio */

/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9qwlj8');
    src:  url('../fonts/icomoon.eot?9qwlj8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?9qwlj8') format('truetype'),
      url('../fonts/icomoon.woff?9qwlj8') format('woff'),
      url('../fonts/icomoon.svg?9qwlj8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }

body  {
    font-family:'Source Sans Pro' sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One', sans-serif
}

h1  {
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    
    /* text-transform: uppercase;
    text-decoration: dashed; */
}


h1 strong {
    color:#026fff ;
}

.hero {
    height: 300px;
    /* background-image: url(../imagenes/hero.jpg); */
    background-color:#1d252c ;
    /* background-size: 500px 300px ; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.hero-image {
    object-fit: cover;

}
.portfolio-title {
    color: #056fff;
    font-weight: normal;
    margin: 20px;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.portfolio {
   background: #fafafa; 
   
}
.project-title{
    font-size: 30px;
}
.project-details {
    width: 50%;
    font-size: 20px;

}

.project-imageContainer {
    width: 50%;
}
.project-imageContainer img {
    max-width: 100%;
    width: 100%;
}

.header {
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}
.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}
.header ol li {
   height: inherit;
}

.header a {
    align-items: center;
    display: flex;
    height: inherit;
    padding: 0 10px;
}
.flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;

    flex-shrink: 0;
}

.footer {
    background-color: #1d252c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer img {
    vertical-align: middle;
}
.footer a {
    color: white;
}

.event {
    
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}
.event-list {
    /* justify-content: space-between;S */
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left:20px ;
    color: #056fff;
    font-family: 'Fjalla One', sans-serif ;
    font-weight: normal;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid;
    padding:5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;

}

.contact {
    background-color: #056fff;
    color: #ffff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin:0 10px;

}

.social-link.twitter {
    background-image: url('../imagenes/twitter.svg');
}
.social-link.facebook {
    background-image: url('../imagenes/facebook.svg');
}
.social-link.github{
    background-image: url('../imagenes/github.svg');
}
.social-link.instagram {
    background-image: url('../imagenes/instagram.svg');
}

.form-email input {
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../imagenes/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    /* margin: 20px; */
    
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    


}

.form-email h3 {
    font-family:'Source Sans Pro' sans-serif;
}
 
.container {
    max-width: 1000px ;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.video-flexible {
    width: 100%;
    height:0 ;
    padding-top: 56.25%;
    background: blue;
    position: relative;
}
.youtube-video {
    /* width: 100%; */
    /* height: auto; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* z-index: 3; */

}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color:  white;
    
}
/* desktop first que empieces desde MQ mas grande */

@media screen and (max-width:1024px) {
    .hero {
        height:auto ;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
    .container{
        padding: 0 1em;

    }
}
.html-video {
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}

@media screen and (max-width:767px) {
    .burger-button {
        display: block;
    }

    .hero {
        height:auto ;
        position: relative;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }

    
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: initial;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }

    .menu {
        position: fixed;
        background: rgba(5, 111, 255, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ;
        
    }

    .menu.is-active {
        left: 0;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        font-size: 16px;
    }

    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course{
        font-size: .7em;
    }
    .project-date {
        font-size: 1.2em;
    }
    .proyect-description {
        font-size: .8em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
   
    
    .event-description {
        text-align:center;
    }


    
    
}


@media screen and (max-width:480px) {

    h1 {
        font-size: 1.5em;
    }
    .project-details {
        font-size: 12px;
    }
    .event-detail {
    margin: -2em .5em .5em ;
    padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    } 
    .form-email button {
        margin: 1.5em auto;
    }
    .contacto h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
        text-align: center;
    }
    
}


@media screen and (max-width:320px) {
    h1 {
        font-size: 1.2em;

    }
    .hero {
        padding: 2em 1em;
    }

    .social-link {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        align-items: center;
    }
}